.contButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: white;
  border: 1px solid #e5e7eb;
  color: #1f2937;
  margin-top: 4px;
}

.firstItem {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: rgb(198, 233, 247);
  border: 1px solid rgb(224, 224, 224);
  color: #1f2937;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.375rem 0.375rem 0 0;
}
.firstItem:hover {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: rgb(55, 174, 221);
}
.firstItemSelect {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid rgb(224, 224, 224);
  color: #1f2937;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.375rem 0.375rem 0 0;

  background-color: rgb(55, 174, 221);
}
.lastItem {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: white;
  border: 1px solid #e5e7eb;
  color: #1f2937;
  margin-top: -1px;
  border-radius: 0 0 0.375rem 0.375rem;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.8rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;

  background-color: #3b82f6;
  color: white;
}
